{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel ibrahim</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'Booking/css/roomspage.css' %}">
</head>
<div id="leftside">
    <h1><a href="/accounts/logout/">logout</a></h1>
</div>
<div id="rightside">
    <h1><a href="/books">Bookings</a></h1>
</div>

<body>
    <!-- Brand -->
    <h1 id="brand">Hotel ibrahim Ci</h1>

    <!-- Main Content -->
    <div class="content">
        {% for room_category, room_url in room_list %}
        <div class="room">
            <a href="{{room_url}}">
                <img
                    src="https://res.cloudinary.com/dzcsl3wxe/image/upload/v1671079411/photo-1519710164239-da123dc03ef4_cusy1s.avif">

                <h2>{{room_category}} SUITE</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi</p>
            </a>
        </div>
        {% endfor %}


    </div>
</body>

</html>